apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  source:
    repoURL: https://github.com/cmwylie19/pepr-with-argo
    targetRevision: HEAD
    path: k8s/crds
  destination:
    server: https://kubernetes.default.svc
    namespace: ""
  project: default
  syncPolicy:
    automated: {}
    retry:
      limit: 10                 
      backoff:
        duration: 5s           
        factor: 2 
        maxDuration: 4m 

